body {
  font-family: Helvetica Neue;
}


#background {
background-image: url(golf.jpg);
height: 601px;
background-color: black;
}

#background h1 {
font-weight: bolder;
font-family: Helvetica Neue;
color: white;
margin: 160px 0px 0px 30px;
}


#background h2 {
font-weight: bolder;
font-family: Helvetica Neue;
color: white;
margin: 10px 0px 0px 30px;
}


